body {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  max-width: 100%;
  margin: 0 auto;
  padding-top: 72px;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125em;
  color: #333;
  line-height: 1.5em;
}

h1, h2, h3 {
  color: #000;
}

h1 {
    text-align: center;
}

h2 {
  font-size: 2em
}

h3 {
  font-size: 1.5em
}

a {
  text-decoration: none;
  color: #09f;
}

a:hover {
  text-decoration: underline;
}

.navbar-menu {
    background-color: #C0C0C0;
}

.navbar-brand{
background-color:#C0C0C0;}

.navbar-item{
font-weight: bold;
}

.navbar-item a:hover{
color:red;
}

li{
list-style-type: circle}